name: build

on:
  push:
    branches: ["scarthgap"]
  pull_request:
    branches: ["scarthgap"]
  schedule:
    - cron: "0 0 * * 5"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  prepare_container:
    name: Prepare Build Container
    runs-on: self-hosted
    timeout-minutes: 30
    outputs:
      uid: ${{ steps.uid_step.outputs.userid }}
      gid: ${{ steps.uid_step.outputs.groupid }}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Get user id/group
        id: uid_step
        run: |
          echo "userid=$(id -u)" >> "$GITHUB_OUTPUT"
          echo "groupid=$(id -g)" >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config: /etc/docker/cibuilder.toml

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ciserver.ci:5000
          username: ${{ secrets.CI_CACHE_REGISTRY_LOGIN }}
          password: ${{ secrets.CI_CACHE_REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ciserver.ci:5000/${{ github.repository_id }}/scarthgap:latest
          cache-from: type=registry,ref=ciserver.ci:5000/${{ github.repository_id }}:cache-scarthgap
          cache-to: type=registry,ref=ciserver.ci:5000/${{ github.repository_id }}:cache-scarthgap,mode=max
          file: meta/conf/docker/Dockerfile
          build-args: |
            USER_ID=${{ steps.uid_step.outputs.userid }}
            GROUP_ID=${{ steps.uid_step.outputs.groupid }}

  info:
    name: Collect Build Info
    runs-on: self-hosted
    timeout-minutes: 10
    outputs:
      build_date: ${{ steps.tag_step.outputs.build_date }}
      build_rev: ${{ steps.tag_step.outputs.build_rev }}
      build_ref: ${{ steps.tag_step.outputs.build_ref }}
      build_tag: ${{ steps.tag_step.outputs.build_date }}_${{ steps.tag_step.outputs.build_rev }}
      local_artifacts_path: ${{ github.repository_id }}/${{ steps.tag_step.outputs.build_date }}_${{ steps.tag_step.outputs.build_rev }}
    steps:
      - name: Generate build tags
        shell: bash {0}
        id: tag_step
        run: |
          build_date="$(date +%Y-%m-%d)"
          build_rev="$(echo ${GITHUB_SHA} | head -zc 7)"
          build_ref="${GITHUB_REF}"
          echo "build_date=$build_date" >> "$GITHUB_OUTPUT"
          echo "build_rev=$build_rev" >> "$GITHUB_OUTPUT"
          echo "build_ref=$build_ref" >> "$GITHUB_OUTPUT"

  build:
    name: Build ${{ matrix.name }}
    needs:
      - prepare_container
      - info
    runs-on: self-hosted
    timeout-minutes: 300
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: RZ/G2LC SoM
            machine: rzg2lc-sr-som
            cache_key: rzg2lc
            enable_meta_rz_graphics: true
            enable_meta_rz_codecs: false
            enable_meta_rz_qt6: true
            bitbake_targets:
              - core-image-full-cmdline
              - solidrun-demo-image
            publish_artifacts:
              - core-image-full-cmdline-rzg2lc-sr-som.rootfs.wic.bmap
              - core-image-full-cmdline-rzg2lc-sr-som.rootfs.wic.gz
              - core-image-full-cmdline-rzg2lc-sr-som.rootfs.manifest
              - solidrun-demo-image-rzg2lc-sr-som.rootfs.wic.bmap
              - solidrun-demo-image-rzg2lc-sr-som.rootfs.wic.gz
              - solidrun-demo-image-rzg2lc-sr-som.rootfs.manifest
              - r9a07g044c2-hummingboard-iiot.dtb
              - rzg2l-hummingboard-iiot-panel-dsi-WJ70N3TYJHMNG0.dtbo
              - rzg2l-hummingboard-iiot-rs485-a.dtbo
              - rzg2l-hummingboard-iiot-rs485-b.dtbo
              - r9a07g044c2-hummingboard-ripple.dtb
              - rzg2lc-hummingboard-pulse-leds.dtbo
              - Image.gz
              - modules-rzg2lc-sr-som.tgz
              - bl2_bp_esd-rzg2lc-sr-som.bin
              - fip-rzg2lc-sr-som.bin
              - Flash_Writer_SCIF_RZG2LC_HUMMINGBOARD_DDR4_512MB_1PCS.mot
              - Flash_Writer_SCIF_RZG2LC_HUMMINGBOARD_DDR4_1GB_1PCS.mot
              - Flash_Writer_SCIF_RZG2LC_HUMMINGBOARD_DDR4_2GB_1PCS.mot
          - name: RZ/G2L SoM
            machine: rzg2l-sr-som
            cache_key: rzg2l
            enable_meta_rz_graphics: true
            enable_meta_rz_codecs: true
            enable_meta_rz_qt6: true
            bitbake_targets:
              - core-image-full-cmdline
              - solidrun-demo-image
            publish_artifacts:
              - core-image-full-cmdline-rzg2l-sr-som.rootfs.wic.bmap
              - core-image-full-cmdline-rzg2l-sr-som.rootfs.wic.gz
              - core-image-full-cmdline-rzg2l-sr-som.rootfs.manifest
              - solidrun-demo-image-rzg2l-sr-som.rootfs.wic.bmap
              - solidrun-demo-image-rzg2l-sr-som.rootfs.wic.gz
              - solidrun-demo-image-rzg2l-sr-som.rootfs.manifest
              - r9a07g044l2-hummingboard-iiot.dtb
              - rzg2l-hummingboard-iiot-panel-dsi-WJ70N3TYJHMNG0.dtbo
              - rzg2l-hummingboard-iiot-rs485-a.dtbo
              - rzg2l-hummingboard-iiot-rs485-b.dtbo
              - r9a07g044l2-hummingboard-pro.dtb
              - r9a07g044l2-hummingboard-ripple.dtb
              - Image.gz
              - modules-rzg2l-sr-som.tgz
              - bl2_bp_esd-rzg2l-sr-som.bin
              - fip-rzg2l-sr-som.bin
              - Flash_Writer_SCIF_RZG2L_HUMMINGBOARD_DDR4_512MB_1PCS.mot
              - Flash_Writer_SCIF_RZG2L_HUMMINGBOARD_DDR4_1GB_1PCS.mot
              - Flash_Writer_SCIF_RZG2L_HUMMINGBOARD_DDR4_2GB_1PCS.mot
    container:
        image: ciserver.ci:5000/${{ github.repository_id }}/scarthgap:latest
        credentials:
            username: ${{ secrets.CI_CACHE_REGISTRY_LOGIN }}
            password: ${{ secrets.CI_CACHE_REGISTRY_PASSWORD }}
        options: --user developer
    steps:
      - name: Checkout dependency layers
        shell: bash {0}
        run: |
          repo init -u https://github.com/SolidRun/meta-solidrun-arm-rzg2lc -b scarthgap -m meta-solidrun-arm-rz.xml
          repo sync

      - name: Checkout pull-request version of meta-solidrun-arm-rzg2lc
        uses: actions/checkout@v4
        with:
          path: meta-solidrun-arm-rzg2lc

      - name: Fetch Proprietary Layers
        shell: bash -e {0}
        env:
          ACCESS_KEY: ${{ secrets.IMAGES_S3_ACCESS }}
          SECRET_KEY: ${{ secrets.IMAGES_S3_SECRET }}
          HOST: ${{ secrets.IMAGES_S3_HOST }}
          BUCKET: ${{ secrets.PROTECTED_S3_BUCKET }}
          META_RZ_GRAPHICS: ${{ matrix.enable_meta_rz_graphics }}
          META_RZ_CODECS: ${{ matrix.enable_meta_rz_codecs }}
          META_RZ_QT6: ${{ matrix.enable_meta_rz_qt6 }}
        run: |
          # meta-rz-graphics
          if [[ "$META_RZ_GRAPHICS" == "true" ]]; then
            s3cmd --access_key="$ACCESS_KEY" --secret_key="$SECRET_KEY" --host="$HOST" --host-bucket="%(bucket)s.$HOST" get s3://$BUCKET/renesas/rz-g2lc/RTK0EF0045Z14001ZJ-v4.1.2.5_EN.zip
            unzip -j RTK0EF0045Z14001ZJ-v4.1.2.5_EN.zip RTK0EF0045Z14001ZJ-v4.1.2.5_EN/meta-rz-features_graphics_v4.1.2.5.tar.gz
            tar -xf meta-rz-features_graphics_v4.1.2.5.tar.gz
          fi

          # meta-rz-codecs
          if [[ "$META_RZ_CODECS" == "true" ]]; then
            s3cmd --access_key="$ACCESS_KEY" --secret_key="$SECRET_KEY" --host="$HOST" --host-bucket="%(bucket)s.$HOST" get s3://$BUCKET/renesas/rz-g2lc/RTK0EF0045Z16001ZJ_v4.1.3.0_EN.zip
            unzip -j RTK0EF0045Z16001ZJ_v4.1.3.0_EN.zip RTK0EF0045Z16001ZJ_v4.1.3.0_EN/meta-rz-features_codec_v4.1.3.0.tar.gz
            tar -xf meta-rz-features_codec_v4.1.3.0.tar.gz
          fi

          # meta-rz-qt6
          if [[ "$META_RZ_QT6" == "true" ]]; then
            s3cmd --access_key="$ACCESS_KEY" --secret_key="$SECRET_KEY" --host="$HOST" --host-bucket="%(bucket)s.$HOST" get s3://$BUCKET/renesas/rz-g2lc/RTK0EF0224Z00000ZJ_v4.0.0.0.zip
            unzip -j RTK0EF0224Z00000ZJ_v4.0.0.0.zip RTK0EF0224Z00000ZJ_v4.0.0.0/rzg_bsp_qt6.8.3_v4.0.0.0.tar.gz
            tar -xf rzg_bsp_qt6.8.3_v4.0.0.0.tar.gz
          fi

      - name: Create cache dir
        run: mkdir -p buildcache

      - name: Fetch cache from server
        uses: tespkg/actions-cache/restore@v1
        with:
          endpoint: ciserver.ci
          port: 9000
          insecure: true
          accessKey: ${{ secrets.CI_CACHE_MINIO_ACCESS }}
          secretKey: ${{ secrets.CI_CACHE_MINIO_SECRET }}
          bucket: cicache
          use-fallback: false
          key: ${{ github.repository }}/scarthgap-${{ matrix.cache_key }}
          path: |
            buildcache

      - name: Configure
        shell: bash {0}
        env:
          META_RZ_GRAPHICS: ${{ matrix.enable_meta_rz_graphics }}
          META_RZ_CODECS: ${{ matrix.enable_meta_rz_codecs }}
          META_RZ_QT6: ${{ matrix.enable_meta_rz_qt6 }}
        run: |
            TEMPLATECONF=$PWD/meta-renesas/meta-rz-distro/conf/templates/rz-conf/ source poky/oe-init-build-env build
            bitbake-layers add-layer ../meta-solidrun-arm-rzg2lc/meta
            bitbake-layers add-layer ../meta-solidrun-arm-rzg2lc/meta-rzg2l
            if [[ "$META_RZ_GRAPHICS" == "true" ]]; then
              bitbake-layers add-layer ../meta-rz-features/meta-rz-graphics
            fi
            if [[ "$META_RZ_CODECS" == "true" ]]; then
              bitbake-layers add-layer ../meta-rz-features/meta-rz-codecs
            fi
            if [[ "$META_RZ_QT6" == "true" ]]; then
              bitbake-layers add-layer ../meta-qt6
              bitbake-layers add-layer ../meta-rz-qt6
              sed -i 's;^\(TUNE_FEATURES:remove = "crypto"\)$;# \1;g' ../meta-rz-qt6/conf/layer.conf
            fi
            bitbake-layers add-layer ../meta-openembedded/meta-networking
            bitbake-layers add-layer ../meta-openembedded/meta-filesystems
            bitbake-layers add-layer ../meta-virtualization
            echo "require conf/includes/ci.conf" >> conf/local.conf

      - name: Download Sources
        shell: bash {0}
        env:
          MACHINE: ${{ matrix.machine }}
          TARGETS: ${{ join(matrix.bitbake_targets, ' ') }}
        run: |
            source poky/oe-init-build-env build
            export CACHE_DIR="$GITHUB_WORKSPACE/buildcache"
            export BB_ENV_PASSTHROUGH_ADDITIONS="$BB_ENV_PASSTHROUGH_ADDITIONS CACHE_DIR"
            bitbake -k $TARGETS --runall=fetch
        continue-on-error: true

      - name: Build
        if: ${{ !cancelled() }}
        id: build_step
        shell: bash {0}
        env:
          MACHINE: ${{ matrix.machine }}
          TARGETS: ${{ join(matrix.bitbake_targets, ' ') }}
        run: |
            source poky/oe-init-build-env build
            export CACHE_DIR="$GITHUB_WORKSPACE/buildcache"
            export BB_ENV_PASSTHROUGH_ADDITIONS="$BB_ENV_PASSTHROUGH_ADDITIONS CACHE_DIR"
            bitbake -k $TARGETS
        continue-on-error: true

      - name: Update cache on the server (build may have failed)
        if: ${{ !cancelled() }}
        uses: tespkg/actions-cache/save@v1
        with:
          endpoint: ciserver.ci
          port: 9000
          insecure: true
          accessKey: ${{ secrets.CI_CACHE_MINIO_ACCESS }}
          secretKey: ${{ secrets.CI_CACHE_MINIO_SECRET }}
          bucket: cicache
          use-fallback: false
          key: ${{ github.repository }}/scarthgap-${{ matrix.cache_key }}
          path: |
            buildcache

      - name: Select artifacts for publishing
        if: ${{ (!cancelled()) && (steps.build_step.outcome == 'success') }}
        shell: bash -e {0}
        env:
          MACHINE: ${{ matrix.machine }}
          ARTIFACTS: ${{ join(matrix.publish_artifacts, ' ') }}
        run: |
            ls -lh build/tmp/deploy/images/$MACHINE/
            mkdir -p deploy/$MACHINE
            for file in $ARTIFACTS; do
              cp -v -L build/tmp/deploy/images/$MACHINE/$file deploy/$MACHINE/
            done
            ls -lh deploy/$MACHINE/

      - name: Deploy to the local minio storage
        if: ${{ (!cancelled()) && (steps.build_step.outcome == 'success') }}
        uses: yakubique/minio-upload@v1.1.3
        with:
          endpoint: http://ciserver.ci:9000
          insecure: true
          access_key: ${{ secrets.CI_CACHE_MINIO_ACCESS }}
          secret_key: ${{ secrets.CI_CACHE_MINIO_SECRET }}
          bucket: cipublish
          source: ./deploy/
          target: "/${{ needs.info.outputs.local_artifacts_path }}/"
          recursive: true

      - name: Fail Late
        if: ${{ steps.build_step.outcome == 'failure' }}
        shell: bash {0}
        run: exit 1

  test_images:
    name: Test on Hardware
    needs:
      - info
      - build
    runs-on: self-hosted
    timeout-minutes: 90

    steps:
      - name: Generate Temporary Image Download URLs
        id: dl_url
        shell: bash {0}
        run: |
          echo "rzg2lc_core_image_full_cmdline_url=http://ciserver.ci:8000/cipublish/${{ needs.info.outputs.local_artifacts_path }}/rzg2lc-sr-som/core-image-full-cmdline-rzg2lc-sr-som.rootfs.wic.gz" >> "$GITHUB_OUTPUT"
          echo "rzg2lc_solidrun_demo_image_url=http://ciserver.ci:8000/cipublish/${{ needs.info.outputs.local_artifacts_path }}/rzg2lc-sr-som/solidrun-demo-image-rzg2lc-sr-som.rootfs.wic.gz" >> "$GITHUB_OUTPUT"
          echo "rzg2l_core_image_full_cmdline_url=http://ciserver.ci:8000/cipublish/${{ needs.info.outputs.local_artifacts_path }}/rzg2l-sr-som/core-image-full-cmdline-rzg2l-sr-som.rootfs.wic.gz" >> "$GITHUB_OUTPUT"
          echo "rzg2l_solidrun_demo_image_url=http://ciserver.ci:8000/cipublish/${{ needs.info.outputs.local_artifacts_path }}/rzg2l-sr-som/solidrun-demo-image-rzg2l-sr-som.rootfs.wic.gz" >> "$GITHUB_OUTPUT"

      - name: Checkout LAVA action
        uses: actions/checkout@v4
        with:
          repository: SolidRun/lava-test-definitions
          path: .lava-action
          ssh-key: ${{ secrets.LAVA_ACTION_SECRET }}

      - name: Test Images on LAVA
        id: submit
        uses: ./.lava-action/.github/actions/lava-submit
        with:
          server: 192.168.15.184
          port: 8001
          timeout: 36000
          jobs: |
            [
              {
                "device_type": "rz",
                "tags": ["rz_g2lc"],
                "image_url": "${{ steps.dl_url.outputs.rzg2lc_core_image_full_cmdline_url }}",
                "description": "RZ/G2LC Yocto - SolidRun Demo - meta-solidrun-arm-rzg2lc/${{ needs.info.outputs.build_ref }} (${{ needs.info.outputs.build_rev }})",
                "compression": "gz",
                "all_devices": false
              },
              {
                "device_type": "rz",
                "tags": ["rz_g2lc"],
                "image_url": "${{ steps.dl_url.outputs.rzg2lc_solidrun_demo_image_url }}",
                "description": "RZ/G2LC Yocto - Core CLI - meta-solidrun-arm-rzg2lc/${{ needs.info.outputs.build_ref }} (${{ needs.info.outputs.build_rev }})",
                "compression": "gz",
                "all_devices": false
              },
              {
                "device_type": "rz",
                "tags": ["rz_g2l"],
                "image_url": "${{ steps.dl_url.outputs.rzg2l_core_image_full_cmdline_url }}",
                "description": "RZ/G2L Yocto - SolidRun Demo - meta-solidrun-arm-rzg2lc/${{ needs.info.outputs.build_ref }} (${{ needs.info.outputs.build_rev }})",
                "compression": "gz",
                "all_devices": false
              },
              {
                "device_type": "rz",
                "tags": ["rz_g2l"],
                "image_url": "${{ steps.dl_url.outputs.rzg2l_solidrun_demo_image_url }}",
                "description": "RZ/G2L Yocto - Core CLI - meta-solidrun-arm-rzg2lc/${{ needs.info.outputs.build_ref }} (${{ needs.info.outputs.build_rev }})",
                "compression": "gz",
                "all_devices": false
              }
            ]

  publish:
    name: Publish Artifacts
    if: github.ref == 'refs/heads/scarthgap' && github.event_name != 'pull_request'
    needs:
      - info
      - build
    runs-on: self-hosted
    steps:
      - name: Download artifacts from the local minio storage
        uses: yakubique/minio-download@v1.1.1
        with:
          endpoint: http://ciserver.ci:9000
          insecure: true
          access_key: ${{ secrets.CI_CACHE_MINIO_ACCESS }}
          secret_key: ${{ secrets.CI_CACHE_MINIO_SECRET }}
          bucket: cipublish
          source: "/${{ needs.info.outputs.local_artifacts_path }}/"
          target: "."
          recursive: true

      - name: Upload to S3
        uses: shallwefootball/upload-s3-action@v1.3.3
        with:
          aws_key_id: ${{ secrets.IMAGES_S3_ACCESS }}
          aws_secret_access_key: ${{ secrets.IMAGES_S3_SECRET }}
          aws_bucket: ${{ secrets.IMAGES_S3_BUCKET }}
          endpoint: ${{ secrets.IMAGES_S3_HOST }}
          source_dir: .
          destination_dir: RZ/Yocto/vlp4/${{ needs.info.outputs.build_tag }}
